body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left {
  transform: rotateY(180deg);
  width: 20px;
  cursor: pointer;
  margin: 0 5px;
}
.left:hover {
  width: 25px;
  transition: 0.3s all;
}
.right {
  width: 20px;
  cursor: pointer;
}
.right:hover {
  width: 25px;
  transition: 0.3s all;
}

